{% extends 'base_generic.html' %}
{% load static %}
{% block title %}
Semua Produk - BookHub
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-5">
    <h3 class="text-center mb-4">Semua Produk</h3>
    
    {% if products %}
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">
                            <strong>Harga:</strong> {{ product.price }}<br>
                            <strong>Penulis:</strong> {{ product.author }}<br>
                            <strong>Genre:</strong> {{ product.genre }}<br>
                        </p>
                        <div class="mt-auto">
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-info">Detail Produk</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">Tidak ada produk untuk ditampilkan.</p>
    {% endif %}
</div>
{% endblock %}
