{% extends 'base_generic.html' %}
{% load humanize %}

{% block content %}
<div class="card shadow-lg border-0 mb-4" style="max-width: 300px; margin: auto;">
    <div class="card-body">
        <h5 class="card-title text-center">Nama Produk</h5>
        <p class="card-text text-justify">Deskripsi produk. Deskripsi ini dapat berisi informasi lebih lanjut tentang produk.</p>
        <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-primary">Detail Produk</a>
        </div>
    </div>
</div>
{% endblock %}
